.footer {
  margin-top: 1rem;
  padding: 1rem;
  bottom: 0;
  left: 0;
  right: 0;
  width: 50%;
}

.floatContact {
  padding-right: 20px !important;
}

.btn-floating {
  width: 3rem !important;
  height: 3rem !important;
}
